﻿@{
    ViewData["Title"] = "Eventos";
}

<link rel="stylesheet" href="./css/components.css"/>
<link rel="stylesheet" href="./css/events.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<main class="main-container">
<section id="servicios" class="py-5">
    <div class="container">
        <h2>Eventos del Club</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/itsivanpsk/clubvrassets/master/vtol_1.jpg" alt="Servicio 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Carnaval</h5>
                        <p class="card-text">
                            El club de realidad virtual realiza un evento en el día de castañada en el centro IES Esteve Terradas,
                            en este evento mostramos al público experiencias de realidad virtual orientadas a la festividad.
                        </p>
                        <a href="#Carnaval" class="btn btn-primary">Leer Más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/itsivanpsk/clubvrassets/master/vtol_1.jpg" alt="Servicio 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Citi Lab</h5>
                        <p class="card-text">
                            La fira apropat es una feria orientada a descubrir las diferentes salidas de los ciclos de
                            formación profesional. El club de realidad virtual proporciona a las personas que se acercan
                            a la feria experiencias educativas.

                        </p>
                        <a href="#CitiLab" class="btn btn-primary">Leer Más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/itsivanpsk/clubvrassets/master/vtol_1.jpg" alt="Servicio 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Castañada</h5>
                        <p class="card-text">
                            El club de realidad virtual realiza un evento en el día de carnaval en el centro IES Esteve Terradas,
                            en este evento mostramos al público experiencias de realidad virtual diferentes.
                        </p>
                        <a href="#Castañada" class="btn btn-primary">Leer Más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/itsivanpsk/clubvrassets/master/vtol_1.jpg" alt="Servicio 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Semana de orientación</h5>
                        <p class="card-text">
                            Durante una semana al año, el centro IES Esteve Terradas realiza una jornada en
                            las que diferentes empresas proporcionan visitas, muestras o exposiciones a los
                            alumnos para mostrar diferentes salidas al mundo laboral tras la ESO y/o el batchiller.
                            El club de realidad virtual desde el 2021 se ha unido a esta jornada mostrando
                            a los alumnos las salidas que existen en el mundo de la informatica relacionada con la realidad virtual.
                        </p>
                        <a href="#Orientación" class="btn btn-primary">Leer Más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="events-list">
    <h2>Eventos</h2>
    <h3 id="#2023">2023</h3>
    <hr class="div-line">
    <div class="age-event">
        <article>
            <h4>Castañada 2023</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2023" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Soria Salud VR</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2023" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Fira Apropat (CitiLab) 2023</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2023" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Carnaval 2023</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2023" class="btn btn-primary">Imágenes</a>
        </article>
    </div>
    <h3 id="#2022">2022</h3>
    <hr class="div-line">
    <div class="age-event">
        <article>
            <h4>Castañada 2022</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2022" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Fira Apropat 2022</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2022" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Orientación académica 2022</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2022" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Carnaval 2022</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2022" class="btn btn-primary">Imágenes</a>
        </article>
    </div>
    <h3 id="#2021">2021</h3>
    <hr class="div-line">
    <div class="age-event">
        <article>
            <h4>Castañada 2021</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2021" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Fira Apropat 2021</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2021" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Carnaval 2021</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2021" class="btn btn-primary">Imágenes</a>
        </article>
    </div>
    <h3 id="#2020">2020</h3>
    <hr class="div-line">
    <div class="age-event">
        <article>
            <h4>Castañada 2020</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2020" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Fira Apropat 2020</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2020" class="btn btn-primary">Imágenes</a>
        </article>
        <article>
            <h4>Carnaval 2020</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2020" class="btn btn-primary">Imágenes</a>
        </article>
    </div>
    <h3 id="#2019">2019</h3>
    <hr class="div-line">
    <div class="age-event">
        <article>
            <h4>Castañada 2019</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a href="/Images#2019" class="btn btn-primary">Imágenes</a>
        </article>
    </div>
</section>
</main>