﻿@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="./css/components.css"/>
<link rel="stylesheet" href="./css/home.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<container class="m-container">
    <div id="slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://raw.githubusercontent.com/ItsIvanPsk/ClubVRAssets/master/Experiences/1-BeatSaber/beat_saber_1.jpg" alt="Imagen 1" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>Beat Saber</h3>
                    <p>Beat saber es un juego rítmico inspirado en el aclamado juego Guitar Hero.</p>
                    <a href="ExperienceDetail?experienceId=1" class="btn btn-primary experience-button">Ver Más</a>
                </div>
            </div>
        </div>
    </div>

    <section id="bienvenida" class="py-5">
        <div class="container">
            <div class="row">
                <div>
                    <h2>Club de Realidad Virtual</h2>
                    <p>El club de realidad virtual es una iniciativa que nace de la necesidad de la divulgación de la realidad virtual.</p>
                    <p>La iniciativa fue impulsada por el centro de educación secundaria IES Esteve Terradas I Illa en 2019</p>
                    <a href="/AboutUs/" class="btn btn-primary">Conócenos Más</a>
                </div>
            </div>
        </div>
    </section>

    <section id="servicios" class="py-5 bg-light">
        <div class="container">
            <h2>Servicios</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://raw.githubusercontent.com/ItsIvanPsk/ClubVRAssets/master/Experiences/1-BeatSaber/beat_saber_1.jpg" alt="Servicio 1" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Eventos</h5>
                            <p class="card-text">
                                El club de realidad virtual realiza todo tipo de eventos en diversos espacios para mostrar
                                los nuevos avances de la realidad virtual.
                            </p>
                            <a href="/Eventos" class="btn btn-primary">Leer Más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://raw.githubusercontent.com/ItsIvanPsk/ClubVRAssets/master/Experiences/1-BeatSaber/beat_saber_1.jpg" alt="Servicio 1" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Sesiones</h5>
                            <p class="card-text">
                                Las sesiones son una parte fundamental de los servicios del club.
                                Las sesiones permiten disfrutar de la realidad virtual de una forma mas personal.
                            </p>
                            <a href="/Sesiones" class="btn btn-primary">Leer Más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://raw.githubusercontent.com/ItsIvanPsk/ClubVRAssets/master/Experiences/1-BeatSaber/beat_saber_1.jpg" alt="Servicio 1" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Desarrollos</h5>
                            <p class="card-text">
                                En el club de realidad virtual desarrollamos todo tipo de experiencias de realidad virtual.
                                Dentro de los desarrollos del club podemos destacar la experiencia del 60th aniversario del comic de Tin tin.
                            </p>
                            <a href="/Desarrollos" class="btn btn-primary">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <h2>Collaboradores</h2>
        <container id="collaboradores">
            <article>
                <img src="./images/Logo/IETI_LOGO.png" alt="Colaborador: IES Esteve Terradas I Illa"/>
            </article>
            <article>
                <img src="./images/Logo/IETI_LOGO.png" alt="Colaborador: Itsy Dev Studios"/>
            </article>
            <article>
                <img src="./images/Logo/CITILAB_CORNELLA.jpg" alt="Colaborador: Citilab"/>
            </article>
        </container>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</container>