﻿@{
    ViewData["Title"] = "Sobre nosotros";
}

<link rel="stylesheet" href="./css/components.css"/>
<link rel="stylesheet" href="./css/aboutus.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="text-center">
    <h1 class="display-4">Sobre nosotros</h1>
    <container>
        <h2>¿Qué es el club de realidad virtual?</h2>
        <p>
            El club de Realidad Virtual es una iniciativa impulsada por el instituto IES Esteve Terradas en el 2019 para
            impulsar el desarrollo y la utilización de la realidad virtual en las aulas y en los centros de estudios para
            la mejora de la forma en la que se enseña en los centros.
        </p>
    </container>
    <span>
        <h2>Preguntas frequentes</h2>
    </span>
    <container>
        <article>
            <h2>¿Qué hacemos en el Club de Realidad Virtual?</h2>
            <p>En el club</p>
        </article>
    </container>
</div>