﻿@model ItsyDev.ApplicationServices.Models.Experiences.ExperienceViewModel

@{
    ViewData["Title"] = "Experience Detail";
}

<link rel="stylesheet" href="./css/components.css"/>
<link rel="stylesheet" href="./css/experiencedetail.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<main>
    <container>
        @if (Model.Images != null && Model.Images.Any())
        {
            <img src="@Model.Images[0].Src" class="experience-image" alt="@Model.Name"/>
        }
        <h1>@Model.Name</h1>
        @if (Model.Categories != null && Model.Categories.Any())
        {
            <h2>@string.Join(", ", Model.Categories.Select(c => c.Name))</h2>
        }
        <h3>@Model.Rating</h3>
    </container>
</main>