﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ItsyDev.ApplicationServices.WebPage.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="fas fa-icono-de-bootstrap">
                    <img src="./images/Logo/CVR_LOGO.png" height="35px" width="35px" alt=""/>
                </span>
            </a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-row-reverse mr-2">
                <ul class="navbar-nav flex-grow-2">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Experiences" asp-action="Index">Experiencias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="AboutUs" asp-action="Index">Sobre nosotros</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="cvr-footer border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Club de Realidad Virtual. Powered by Itsy Dev Studios
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>