﻿@model ItsyDev.ApplicationServices.Models.UI_Models.ExperienceListModel;

@{
    ViewData["Title"] = "Experiencias";
}

<link rel="stylesheet" href="./css/experiences.css"/>
<link rel="stylesheet" href="./css/components.css"/>

<main>
    <section class="experiences-banner-section">
        <img class="experiences-banner-image" src="" alt=""/>
        <h1>Experiencias</h1>
        <h3>Nuestras experiencias</h3>
        <form method="get" asp-controller="AboutUs" asp-action="Index">
            <button type="submit" class="btn btn-primary">Sobre nosotros</button>
        </form>
    </section>
    <container class="experience-container">
        <section class="experience-filter-section">
            <div class="catalog">
                <div class="banner">
                    <h1>Web Page</h1>
                    <div class="filter">
                        <form class="search">
                            <span class="spansearch">
                                <select name="categories" id="sorting">
                                    @if (@Model.Categories != null && @Model.Categories.Count > 0)
                                    {
                                        <option value="" selected="@((bool)@Model.CategorySelected ? "selected" : null)"></option>

                                        foreach (var cat in ViewBag.Categories)
                                        {
                                            <option value="@cat" selected="@(ViewBag.CategorySelected == cat ? "selected" : null)">
                                                @cat
                                            </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value=""></option>
                                    }
                                </select>
                                <input class="searchbar" type="search" name="searching" placeholder="Buscar" aria-label="Buscar" value="@ViewBag.SavedSearchValue">
                            </span>
                            <span class="select">
                                <label for="sorting">Ordenar por : </label>
                                <select name="sorting" id="sorting2">
                                    <option value=""></option>
                                    <option value="2">Precio: De mayor a menor</option>
                                    <option value="3">Precio: De menor a mayor</option>
                                    <option value="4">A-Z</option>
                                    <option value="5">Z-A</option>
                                </select>
                            </span>
                            <input type="submit" class="btn btn-primary searchbutton" value="Buscar"/>
                            <input type="button" class="btn btn-danger erase" value="Borrar"/>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="experience-section">
            @if (Model.Experiences != null)
            {
                @foreach (var experience in Model.Experiences)
                {
                    <article class="experience-item">
                        @if (experience.Images != null && experience.Images.Any())
                        {
                            <img src="@experience.Images[0].Src" class="experience-image" alt="@experience.Name"/>
                        }
                        <p class="experience-name">@experience.Name</p>
                        @if (experience.Categories != null && experience.Categories.Any())
                        {
                            <p class="experience-categories">
                                @string.Join(
                                    ", ",
                                    experience.Categories.Select(
                                        c => c.Name
                                        )
                                    )
                            </p>
                        }
                        <form method="get" asp-controller="ExperienceDetail" asp-action="Index">
                            <input type="hidden" name="experienceId" value="@experience.Id"/>
                            <button type="submit" class="btn btn-primary">Ver más</button>
                        </form>
                    </article>
                }
            }
        </section>
    </container>
</main>