﻿@model ItsyDev.ApplicationServices.Models.UI_Models.ExperienceListModel;

@{
    ViewData["Title"] = "Experiencias";
}

<link rel="stylesheet" href="./css/components.css"/>
<link rel="stylesheet" href="./css/experiences.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<main>
    <section class="experiences-banner-section">
        <img class="experiences-banner-image" src="" alt=""/>
        <h1>Experiencias</h1>
        <h3>Nuestras experiencias</h3>
        <form method="get" asp-controller="AboutUs" asp-action="Index">
            <button type="submit" class="btn btn-primary">Sobre nosotros</button>
        </form>
    </section>
    <container class="experience-container">
        <section class="experience-section">
            @if (Model.Experiences != null)
            {
                @foreach (var experience in Model.Experiences)
                {
                    <article class="experience-item">
                        @if (experience.Images != null && experience.Images.Any())
                        {
                            <img src="@experience.Images[0].Src" class="experience-image" alt="@experience.Name"/>
                        }
                        <p class="experience-name">@experience.Name</p>
                        @if (experience.Categories != null && experience.Categories.Any())
                        {
                            <p class="experience-categories">
                                @string.Join(
                                    ", ",
                                    experience.Categories.Select(
                                        c => c.Name
                                        )
                                    )
                            </p>
                        }
                        <form method="get" asp-controller="ExperienceDetail" asp-action="Index">
                            <input type="hidden" name="experienceId" value="@experience.Id"/>
                            <button type="submit" class="btn btn-primary">Ver más</button>
                        </form>
                    </article>
                }
            }
        </section>
    </container>
</main>