﻿@model ItsyDev.ApplicationServices.Models.UI_Models.ImageGalleryListModel;
@{
    ViewData["Title"] = "Image Gallery";
}

<link rel="stylesheet" href="./css/components.css"/>
<link rel="stylesheet" href="./css/images.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cont {
        width: 160ch;
        margin-bottom: 75px;
    }
    
    .year-container {
        margin-top: 20px;
    }
    
    .year-header {
        font-size: 24px;
        font-weight: bold;
    }
    
    .single-image {
        width: 20%;
        height: 20%;
        margin: 5px 15px;
    }
    
    h2 {
        margin-left: 15px;
    }
</style>

<main>
    <div class="cont">
        <h1>Images</h1>
        @if (Model.Images != null)
        {
            @foreach (var group in Model.Images.GroupBy(image => image.Date.Year))
            {
                <div id="@group.Key" class="year-container">
                    <h2 class="year-header">@group.Key</h2>
                    <hr/>
                    @foreach (var image in group)
                    {
                        <img class="single-image" src="@image.Src" alt="@image.Description"/>
                    }
                </div>
            }
        }
    </div>
</main>