.experience-panel {
    padding: 10em;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px solid;
}

.experience-panel img {
    height: 150px;
    width: auto;
    margin-left: 10px;
    margin-right: 20px;
}

.experience-content {
    display: flex;
    flex-direction: row;
}