﻿.search-bar-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.search-bar {
    width: 100%;
    padding: 8px 40px 8px 40px;
    margin: 5px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url('../images/Icons/search_glass.png');
    background-size: 20px 20px;
    background-position: left 10px center;
    background-repeat: no-repeat;
}

.filter-combo-box {
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
}
