﻿.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    height: auto;
    object-fit: cover;
}

.carrousel-image-container img {
    width: auto;
    height: auto;
    display: block;
}

.events-list {
    display: flex;
    flex-direction: column;
    width: 150ch;
}

.events-list article {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px 0;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 5px;
}

.events-list article a {
    width: 125px;
}

.events-list h3 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.age-event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.age-event article {
    margin: 10px 25px;
    padding: 10px;
    width: 30%;
}

.div-line {
    border: 0;
    border-top: 1px solid #252525;
}