﻿.experience-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.experience-filter-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    width: 110%;
    margin-left: -9%;
}

.experience-filter-section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.experience-filter-section span {
    display: flex;
    width: 33%;
    flex-direction: column;
    margin: 0 20px;
    justify-content: center;
}

.catalog .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    padding: 10px
}

.experience-filter-button {
    margin: 0 25em;
}

.experience-filter-section h3 {
    font-size: 36px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.experience-filter-component {
    width: 100%;
    margin: 10px 0;
}

.experience-section {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 80%;
    justify-content: space-between;
}

.experience-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.experience-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.experience-image {
    width: 15em;
    height: 15em;
    border-radius: 5px;
    align-content: center;
}

.experience-categories {
    font-size: 14px;
    font-weight: lighter;
}

.experiences-banner-section {
    background-image: url('https://mott.pe/noticias/wp-content/uploads/2016/10/Las-10-mejores-experiencias-de-realidad-virtual-que-no-te-puedes-perder-1280x720.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: white;
    margin: -15px -15px 0 -15px;
    padding: 100px 0;
}

.experiences-banner-section h1 {
    font-size: 36px;
    margin: 10px 0;
}

.experiences-banner-section h3 {
    font-size: 24px;
    margin: 10px 0;
}

.experiences-banner-section button {
    margin-top: 20px;
}

.experiences-banner-image {
    display: none;
}

.experience-filter-section .select {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid black;
}

.select #sorting, .spansearch #sorting {
    outline: none;
}

.select label {
    padding: 0;
    margin: 0;
    color: black;
}

.select select, .spansearch select {
    border: none;
    background-color: transparent;
    width: auto;
    text-align: center;
    padding: 5px;
}

.select option {
    background-color: white;
}

.experience-filter-section .spansearch {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 40vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid black;
}

input[type="search"]:focus {
    outline: none !important;
}