﻿.m-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
#slider {
    width: 105%;
    margin-left: -2.5%;
    margin-top: -0.85%;
    height: 60ch;
    object-fit: cover;
    overflow-x: hidden;
}
#bienvenida {
    width: 102%;
    margin-left: -1%;
}

.carousel-item img {
    height: 60ch;
    object-fit: cover;
}

#servicios {
    margin-bottom: 10px;
}

#collaboradores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#collaboradores img {
    width: 300px;
    height: 300px;
}

#collaboradores article {
    margin: 10px 30px;
}