﻿main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 160ch;
    margin-bottom: 75px;
}

.year-container {
    margin-top: 20px;
}

.year-header {
    font-size: 24px;
    font-weight: bold;
}

.single-image {
    width: 20%;
    height: 20%;
    margin: 5px 15px;
}

h2 {
    margin-left: 15px;
}